.prize {
  width: 80%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.prize-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prize-text {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}
.prize-text .title {
  gap: 1rem;
}
.title h1 {
  font-size: 40px;
  font-weight: 700;
}
.title span {
  color: #d434fe;
}
.prize-text .title p {
  line-height: 1.5rem;
}
.prize-text .content p {
  line-height: 1.8rem;
  width: 90%;
}
@media screen and (max-width: 900px) {
  .prize {
    height: max-content;
  }
  .prize-img {
    display: grid;
    gap: 1.3rem;
  }
  .prize-text {
    justify-content: center;
    align-items: center;
  }
  .prize-text .title {
    gap: 0.5rem;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .prize-text .title h1 {
    font-size: 4vw;
  }
  .prize-text .title p {
    font-size: 13px;
    width: 80%;
  }
  .prize-img .prize-pic {
    display: grid;
    place-items: center;
  }
  .prize-rewards {
    display: grid;
    place-items: center;
  }
}
