.App {
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-fr.png");
  background-size: auto;
  background-repeat: no-repeat;
}
